poetry==1.7.1
cachecontrol==0.13.1
cffi==1.16.0
cleo==2.1.0
dulwich==0.21.7
fastjsonschema==2.20.0
importlib-metadata==8.5.0
installer==0.7.0
keyring==24.3.1
more-itertools==10.5.0
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==3.11.0
poetry-core==1.8.1
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pycparser==2.22
pyproject-hooks==1.1.0
#rapidfuzz==3.9.7
requests-toolbelt==1.0.0
shellingham==1.5.4
tomli==2.0.1
#tomlkit==0.13.2
#trove-classifiers==2024.9.12
#xattr==0.10.1

